DB_HOST=IP_SERVER_ANDA
DB_PORT=3306
DB_USER=USERNAME_DB
DB_PASSWORD=PASSWORD_DB
DB_NAME=NAMA_DATABASE

AUTH_USERNAME=USERNAME_LOGIN
AUTH_PASSWORD=PASSWORD_LOGIN
JWT_SECRET=your-random-secret-key-here
